*.iml
.gradle
.gitignore
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/shared/schemas/ru.tanexc.gravityfallsmultiplatform.data.local.MainDatabase/1.json
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.lifecycle-lifecycle-viewmodel-2.8.2-commonMain-vv0pmw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.lifecycle-lifecycle-viewmodel-2.8.2-darwinMain-4MgIRw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.lifecycle-lifecycle-viewmodel-2.8.2-nativeMain-vv0pmw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.lifecycle-lifecycle-viewmodel-2.8.2-nonJvmMain-vv0pmw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.room-room-common-2.7.0-alpha04-commonMain-34fLrA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.room-room-runtime-2.7.0-alpha04-commonMain-DqfEBw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.room-room-runtime-2.7.0-alpha04-jvmNativeMain-DqfEBw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.room-room-runtime-2.7.0-alpha04-nativeMain-DqfEBw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.sqlite-sqlite-2.5.0-alpha04-commonMain-32gQSg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.sqlite-sqlite-2.5.0-alpha04-nativeMain-32gQSg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.sqlite-sqlite-bundled-2.5.0-alpha04-commonMain-e_nTGw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.sqlite-sqlite-bundled-2.5.0-alpha04-nativeMain-e_nTGw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.sqlite-sqlite-framework-2.5.0-alpha04-nativeMain-82OJUw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.core-core-bundle-1.0.0-commonMain-cb_PMQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.core-core-bundle-1.0.0-jbMain-cb_PMQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.core-core-bundle-1.0.0-nativeMain-cb_PMQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-compose-2.8.0-commonMain-207ecg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-compose-2.8.0-jbMain-207ecg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-savedstate-2.8.0-commonMain-KnkPTw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-savedstate-2.8.0-jbMain-KnkPTw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-common-2.7.0-alpha07-commonMain-MNIAkQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-common-2.7.0-alpha07-darwinMain-lKvdpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-common-2.7.0-alpha07-jbMain-MNIAkQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-common-2.7.0-alpha07-nativeMain-MNIAkQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-compose-2.7.0-alpha07-commonMain-_VVO-g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-compose-2.7.0-alpha07-jbMain-_VVO-g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-compose-2.7.0-alpha07-nativeMain-jw2VUA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-runtime-2.7.0-alpha07-commonMain-GH9lnw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-runtime-2.7.0-alpha07-jbMain-GH9lnw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-runtime-2.7.0-alpha07-nonJvmMain-GH9lnw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.savedstate-savedstate-1.2.0-commonMain-xMdm-g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.savedstate-savedstate-1.2.0-nonJvmMain-xMdm-g.klib
